<p id="notice"><%= notice %></p>

<p>
  <strong>Last date:</strong>
  <%= @ytq_param.last_date %>
</p>

<%= link_to 'Edit', edit_ytq_param_path(@ytq_param) %> |
<%= link_to 'Back', ytq_params_path %>
