<% provide(:title, "Videos") %>

<div id="grid_here" style="width: 1500px; height: 600px;"></div>
<script type="text/javascript" charset="UTF-8">
  var inputfilter = "";
  var grid = new dhtmlXGridObject("grid_here");
  if (gon) { inputfilter = gon.filter };

  grid.setImagePath("assets/imgs/");
  grid.setHeader("Channel, Date Published, Title, WATCH, Watched, Set Watched, Edit");
  grid.attachHeader("#text_filter,#text_filter,#text_filter, ,#combo_filter,,,");
  grid.setColSorting("str,str,str,,str,,,");
  grid.setInitWidths("200,100,500,100,100,100,100");

  grid.setSkin("dhx_skyblue");
  grid.setColTypes("ro,ro,ro,link,ro,link,link");

  //Events
  grid.attachEvent("onDataReady", function(){ 
    grid.sortRows(1, "str", "asc");     // Sort by published date
    grid.filterByAll();
    return true;
   });

  grid.attachEvent("onFilterEnd", function(indexes, values){
      inputfilter = grid.getFilterElement(0).value;
      if (inputfilter != "" && inputfilter != "EMPTY")
      {
        dhx.ajax.get("/set_filter/" + inputfilter );
      }
      else
      {
        dhx.ajax.get("/set_filter/EMPTY"); 
      }  
      return true;
     });


  //Main
  grid.init(); 
  grid.load("<%= data_path %>", "json");

  // Set current filter value at startup
  var displayValue = grid.getFilterElement(0);
  if (inputfilter != "EMPTY")
  {
    displayValue.value = inputfilter;
  }

  grid.filterByAll();
</script>